<a href="https://colab.research.google.com/github/914book/FinalProjectGroupD/blob/sam_wk4/Group4_ML_v5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [112]:
from sqlalchemy import create_engine
from getpass import getpass
import numpy as np 
import sklearn as skl
import math
from pathlib import Path
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import seaborn as sns
import tensorflow as tf
from tensorflow import keras
from sklearn.metrics import r2_score
from tensorflow.keras import layers
from sklearn.ensemble import RandomForestClassifier

secret = getpass('Enter the secret value: ')

Enter the secret value: ··········

In [2]:
#pip install psycopg2

In [3]:
import psycopg2
connection = psycopg2.connect(
    host = 'housingdatabase.chkn2wwlsbys.us-east-2.rds.amazonaws.com',
    port = 5432,
    user = 'postgres',
    password = secret,
    database='NYChouses'
    )
cursor=connection.cursor()

/usr/local/lib/python3.6/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [4]:
import pandas as pd

pd.set_option('display.max_colwidth',1000)

In [5]:
sql = """
SELECT *
FROM fulloutputhousing
"""
fulloutpuhousing = pd.read_sql(sql, con=connection)

In [6]:
#table for M/L model based of test data share with Toral
house2data = fulloutpuhousing[['house_price', 'address', 'zipcode', 'date', 'beds', 'bath','sq_ft', 'boro', 'employed', 'unemployed', 'income_over_100k', 'income_under_100k']]
house2data.columns = ['price','address','zip','date','beds','bath','sq_ft','boro','Employed','Unemployed','income above 100k','income below 100k']
house2data

         price  ... income below 100k
0       244000  ...           1015040
1       680000  ...           1015040
2       900000  ...           1067440
3       625000  ...           1015040
4      1720000  ...           1015040
...        ...  ...               ...
72657   317554  ...            173430
72658   157000  ...            173430
72659    11500  ...            173430
72660   180887  ...            173430
72661   180887  ...            173430

[72662 rows x 12 columns]

In [7]:
house2data.groupby('boro').mean()

                                                           price  ...  income below 100k
boro                                                              ...
Bronx County                                        5.021488e+05  ...           173430.0
Kings County                                        1.415096e+06  ...          1067440.0
New York County                                     2.200729e+06  ...           594060.0
Queens County                                       7.026108e+05  ...          1015040.0
Richmond County                                     5.824694e+05  ...           173430.0

[5 rows x 8 columns]

In [8]:
df = house2data
df.head()

     price  ... income below 100k
0   244000  ...           1015040
1   680000  ...           1015040
2   900000  ...           1067440
3   625000  ...           1015040
4  1720000  ...           1015040

[5 rows x 12 columns]

In [9]:
# Print out the boro value counts
boro_counts = df.boro.value_counts()
boro_counts

Queens County                                         45608
New York County                                       21484
Kings County                                           2820
Richmond County                                        1456
Bronx County                                           1294
Name: boro, dtype: int64

In [10]:
new_df = df.drop(['address', 'date'], axis=1)
new_df.head()

     price    zip    beds  ...  Unemployed  income above 100k income below 100k
0   244000  11377  Studio  ...       39401             166650           1015040
1   680000  11367       3  ...       39401             166650           1015040
2   900000  11209       3  ...       48699             188640           1067440
3   625000  11420       3  ...       39401             166650           1015040
4  1720000  11361       2  ...       39401             166650           1015040

[5 rows x 10 columns]

In [11]:
new_df['total_emp'] = new_df['Employed'] + new_df['Unemployed']
new_df.head()

     price    zip    beds  ...  income above 100k  income below 100k total_emp
0   244000  11377  Studio  ...             166650            1015040   1139397
1   680000  11367       3  ...             166650            1015040   1139397
2   900000  11209       3  ...             188640            1067440   1198160
3   625000  11420       3  ...             166650            1015040   1139397
4  1720000  11361       2  ...             166650            1015040   1139397

[5 rows x 11 columns]

In [12]:
new_df['Unemployment_rate'] = new_df['Unemployed']/new_df['total_emp']
new_df.head()

     price    zip    beds  ...  income below 100k  total_emp Unemployment_rate
0   244000  11377  Studio  ...            1015040    1139397          0.034581
1   680000  11367       3  ...            1015040    1139397          0.034581
2   900000  11209       3  ...            1067440    1198160          0.040645
3   625000  11420       3  ...            1015040    1139397          0.034581
4  1720000  11361       2  ...            1015040    1139397          0.034581

[5 rows x 12 columns]

In [13]:
newrate_df = new_df.drop(['Employed', 'Unemployed', 'total_emp'], axis=1)
newrate_df.head()

     price    zip  ... income below 100k  Unemployment_rate
0   244000  11377  ...           1015040           0.034581
1   680000  11367  ...           1015040           0.034581
2   900000  11209  ...           1067440           0.040645
3   625000  11420  ...           1015040           0.034581
4  1720000  11361  ...           1015040           0.034581

[5 rows x 9 columns]

In [14]:
newrate_df['income2'] = newrate_df['income above 100k'] + newrate_df['income below 100k']
newrate_df.head()

     price    zip    beds  ...  income below 100k  Unemployment_rate  income2
0   244000  11377  Studio  ...            1015040           0.034581  1181690
1   680000  11367       3  ...            1015040           0.034581  1181690
2   900000  11209       3  ...            1067440           0.040645  1256080
3   625000  11420       3  ...            1015040           0.034581  1181690
4  1720000  11361       2  ...            1015040           0.034581  1181690

[5 rows x 10 columns]

In [15]:
newrate_df['income_rate'] = newrate_df['income above 100k']/newrate_df['income2']
newrate_df.head()

     price    zip    beds  ...  Unemployment_rate  income2 income_rate
0   244000  11377  Studio  ...           0.034581  1181690    0.141027
1   680000  11367       3  ...           0.034581  1181690    0.141027
2   900000  11209       3  ...           0.040645  1256080    0.150182
3   625000  11420       3  ...           0.034581  1181690    0.141027
4  1720000  11361       2  ...           0.034581  1181690    0.141027

[5 rows x 11 columns]

In [16]:
newrates_df = newrate_df.drop(['income above 100k', 'income below 100k', 'income2'], axis=1)
newrates_df.head()

     price    zip  ... Unemployment_rate  income_rate
0   244000  11377  ...          0.034581     0.141027
1   680000  11367  ...          0.034581     0.141027
2   900000  11209  ...          0.040645     0.150182
3   625000  11420  ...          0.034581     0.141027
4  1720000  11361  ...          0.034581     0.141027

[5 rows x 8 columns]

In [17]:
newrates_df.loc[newrate_df.beds == "Studio", "beds"] = "0"
newrates_df.head()

     price    zip  ... Unemployment_rate  income_rate
0   244000  11377  ...          0.034581     0.141027
1   680000  11367  ...          0.034581     0.141027
2   900000  11209  ...          0.040645     0.150182
3   625000  11420  ...          0.034581     0.141027
4  1720000  11361  ...          0.034581     0.141027

[5 rows x 8 columns]

In [18]:
# Create the OneHotEncoder instance
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(sparse=False,drop ="first")

In [19]:
# Fit the encoder and produce encoded DataFrame
boro_df = pd.DataFrame(enc.fit_transform(newrates_df.boro.values.reshape(-1,1)))

In [20]:
# Rename encoded columns
boro_df.columns = enc.get_feature_names(['boro'])
boro_df.head()

   boro_Kings County                                        ...  boro_Richmond County
0                                                      0.0  ...                                                      0.0
1                                                      0.0  ...                                                      0.0
2                                                      1.0  ...                                                      0.0
3                                                      0.0  ...                                                      0.0
4                                                      0.0  ...                                                      0.0

[5 rows x 4 columns]

In [21]:
# Merge the two DataFrames together and drop the boro column
new2_df=newrates_df.merge(boro_df,left_index=True,right_index=True).drop("boro",1)
new2_df.head()

     price  ...  boro_Richmond County
0   244000  ...                                                      0.0
1   680000  ...                                                      0.0
2   900000  ...                                                      0.0
3   625000  ...                                                      0.0
4  1720000  ...                                                      0.0

[5 rows x 11 columns]

In [22]:

#Find null Values

for column in new2_df.columns:
    print(f"Column {column} has {new2_df[column].isnull().sum()} null values")

Column price has 0 null values
Column zip has 0 null values
Column beds has 0 null values
Column bath has 218 null values
Column sq_ft has 0 null values
Column Unemployment_rate has 0 null values
Column income_rate has 0 null values
Column boro_Kings County                                       has 0 null values
Column boro_New York County                                    has 0 null values
Column boro_Queens County                                      has 0 null values
Column boro_Richmond County                                    has 0 null values

In [23]:
# Drop null rows
new2_df = new2_df.dropna()

In [24]:
#Find null Values

for column in new2_df.columns:
    print(f"Column {column} has {new2_df[column].isnull().sum()} null values")

Column price has 0 null values
Column zip has 0 null values
Column beds has 0 null values
Column bath has 0 null values
Column sq_ft has 0 null values
Column Unemployment_rate has 0 null values
Column income_rate has 0 null values
Column boro_Kings County                                       has 0 null values
Column boro_New York County                                    has 0 null values
Column boro_Queens County                                      has 0 null values
Column boro_Richmond County                                    has 0 null values

In [25]:
# List dataframe data types
new2_df.dtypes

price                                                        int64
zip                                                          int64
beds                                                        object
bath                                                       float64
sq_ft                                                        int64
Unemployment_rate                                          float64
income_rate                                                float64
boro_Kings County                                          float64
boro_New York County                                       float64
boro_Queens County                                         float64
boro_Richmond County                                       float64
dtype: object

In [26]:
new2_df['zip']= new2_df['zip'].astype('str')
new2_df.head()

     price  ... boro_Richmond County
0   244000  ...                                                     0.0
1   680000  ...                                                     0.0
2   900000  ...                                                     0.0
3   625000  ...                                                     0.0
4  1720000  ...                                                     0.0

[5 rows x 11 columns]

In [27]:
# Create the OneHotEncoder instance
from sklearn.preprocessing import OneHotEncoder
encz = OneHotEncoder(sparse=False,drop ="first")

In [28]:
# Fit the encoder and produce encoded DataFrame
zipone_df = pd.DataFrame(encz.fit_transform(new2_df.zip.values.reshape(-1,1)))

In [29]:
# Rename encoded columns
zipone_df.columns = encz.get_feature_names(['zip'])
zipone_df.head()

   zip_10002  zip_10003  zip_10004  ...  zip_11434  zip_11435  zip_11436
0        0.0        0.0        0.0  ...        0.0        0.0        0.0
1        0.0        0.0        0.0  ...        0.0        0.0        0.0
2        0.0        0.0        0.0  ...        0.0        0.0        0.0
3        0.0        0.0        0.0  ...        0.0        0.0        0.0
4        0.0        0.0        0.0  ...        0.0        0.0        0.0

[5 rows x 158 columns]

In [30]:
# Merge the two DataFrames together and drop the boro column
new3_df=new2_df.merge(zipone_df,left_index=True,right_index=True).drop("zip",1)
new3_df.head()

     price beds  bath  sq_ft  ...  zip_11433  zip_11434  zip_11435  zip_11436
0   244000    0   1.0  53400  ...        0.0        0.0        0.0        0.0
1   680000    3   3.0   1980  ...        0.0        0.0        0.0        0.0
2   900000    3   1.0   1520  ...        0.0        0.0        0.0        0.0
3   625000    3   2.0   1440  ...        0.0        0.0        0.0        0.0
4  1720000    2   1.0   1406  ...        0.0        0.0        0.0        0.0

[5 rows x 168 columns]

In [31]:
new3_df.dtypes

price                  int64
beds                  object
bath                 float64
sq_ft                  int64
Unemployment_rate    float64
                      ...
zip_11432            float64
zip_11433            float64
zip_11434            float64
zip_11435            float64
zip_11436            float64
Length: 168, dtype: object

In [32]:
new3_df['beds']= new3_df['beds'].astype('int')
new3_df.head()

     price  beds  bath  sq_ft  ...  zip_11433  zip_11434  zip_11435  zip_11436
0   244000     0   1.0  53400  ...        0.0        0.0        0.0        0.0
1   680000     3   3.0   1980  ...        0.0        0.0        0.0        0.0
2   900000     3   1.0   1520  ...        0.0        0.0        0.0        0.0
3   625000     3   2.0   1440  ...        0.0        0.0        0.0        0.0
4  1720000     2   1.0   1406  ...        0.0        0.0        0.0        0.0

[5 rows x 168 columns]

In [33]:
new3_df.dtypes

price                  int64
beds                   int64
bath                 float64
sq_ft                  int64
Unemployment_rate    float64
                      ...
zip_11432            float64
zip_11433            float64
zip_11434            float64
zip_11435            float64
zip_11436            float64
Length: 168, dtype: object

In [34]:
# Print out the bath value counts
bath_counts = new3_df.bath.value_counts()
bath_counts

1.00     23310
2.00     18484
0.00     11973
3.00     10954
4.00      3267
5.00      1550
1.50       892
2.50       569
6.00       488
7.00       163
3.50       159
11.00       90
12.00       80
4.50        62
8.00        55
9.00        31
10.00       28
13.00       16
1.75        14
5.50        10
21.00        8
22.00        6
23.00        6
14.00        6
8.50         4
6.50         4
20.00        4
2.75         2
0.50         2
1.10         2
25.00        2
24.00        2
16.00        2
1.25         2
26.00        2
Name: bath, dtype: int64

In [35]:
# Print out the bath value counts
price_counts = new3_df.price.value_counts()

price_counts

10        916
750000    652
800000    636
650000    615
550000    592
         ...
317554      1
11500       1
943400      1
834502      1
725237      1
Name: price, Length: 3744, dtype: int64

In [36]:
delete_row = new3_df[new3_df["price"]<11].index
new3_df = new3_df.drop(delete_row)
new3_df.head()

     price  beds  bath  sq_ft  ...  zip_11433  zip_11434  zip_11435  zip_11436
0   244000     0   1.0  53400  ...        0.0        0.0        0.0        0.0
1   680000     3   3.0   1980  ...        0.0        0.0        0.0        0.0
2   900000     3   1.0   1520  ...        0.0        0.0        0.0        0.0
3   625000     3   2.0   1440  ...        0.0        0.0        0.0        0.0
4  1720000     2   1.0   1406  ...        0.0        0.0        0.0        0.0

[5 rows x 168 columns]

In [37]:
scaled_features = new3_df.copy()

In [38]:
col_names = ['beds', 'bath','sq_ft', 'Unemployment_rate', 'income_rate']
features = scaled_features[col_names]
scaler = StandardScaler().fit(features.values)
features = scaler.transform(features.values)

In [39]:
scaled_features[col_names] = features
scaled_features

         price      beds      bath  ...  zip_11434  zip_11435  zip_11436
0       244000 -1.135135 -0.518575  ...        0.0        0.0        0.0
1       680000  0.361618  0.854592  ...        0.0        0.0        0.0
2       900000  0.361618 -0.518575  ...        0.0        0.0        0.0
3       625000  0.361618  0.168009  ...        0.0        0.0        0.0
4      1720000 -0.137300 -0.518575  ...        0.0        0.0        0.0
...        ...       ...       ...  ...        ...        ...        ...
72439   640000 -1.135135 -1.205159  ...        0.0        0.0        0.0
72440   420000  1.858370  0.854592  ...        0.0        0.0        0.0
72441   485000  0.860535  0.168009  ...        0.0        0.0        0.0
72442   861000  0.860535  1.541176  ...        0.0        0.0        0.0
72443   770000 -0.636217 -0.175283  ...        0.0        0.0        0.0

[71153 rows x 168 columns]

In [40]:
# Split our preprocessed data into our features and target arrays
y = scaled_features["price"].values
X = scaled_features.drop(["price"],1).values

In [41]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

Train and Evaluate Random Forest Classifier

In [42]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

In [43]:
# Create a random forest classifier.
rf_model = RandomForestRegressor(n_estimators=128,random_state=78)

In [44]:
# Fitting the model
rf_model = rf_model.fit(X_train, y_train)

In [45]:
# Evaluate the model
y_pred = rf_model.predict(X_test)
value = mean_squared_error(y_test,y_pred)
# calculate square
square = math.sqrt(value)
print(f" Housing price predictive root mean squared error: {square:.3f}")

 Housing price predictive root mean squared error: 1754290.770

In [46]:
value = mean_squared_error(y_test,y_pred)
# calculate square
square = math.sqrt(value)
square

1754290.7700338224

In [ ]:
# get importance
importance = rf_model.feature_importances_
# summarize feature importance
for i,v in enumerate(importance):
	print('Feature: %0d, Score: %.5f' % (i,v))

In [59]:
predictions2 = rf_model.predict(X_test)
pd.DataFrame({"Prediction": predictions, "Actual": y_test})

         Prediction   Actual
0      2.121015e+06  1900000
1      5.629425e+05   516000
2      5.596251e+05   585000
3      7.217891e+05   650000
4      5.153125e+06  5800000
...             ...      ...
17784  1.250003e+06   935000
17785  1.445686e+06   975000
17786  6.164656e+05   995000
17787  2.352266e+06  1740000
17788  7.916532e+05   999999

[17789 rows x 2 columns]

Linear Regression

In [60]:
from sklearn.linear_model import LinearRegression
classifier = LinearRegression()
classifier

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [50]:
classifier.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [51]:
predictions = classifier.predict(X_test)
pd.DataFrame({"Prediction": predictions, "Actual": y_test})

       Prediction   Actual
0       2926344.0  1900000
1        277968.0   516000
2        740664.0   585000
3        819552.0   650000
4       3324880.0  5800000
...           ...      ...
17784   1776632.0   935000
17785   2569704.0   975000
17786    823000.0   995000
17787   2629200.0  1740000
17788    385080.0   999999

[17789 rows x 2 columns]

In [145]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 443291.23691242904
Mean Squared Error: 3077536105825.8613
Root Mean Squared Error: 1754290.7700338224

In [ ]:
#import pickle

In [ ]:
#pickle.dump(rf_model, open('model.pkl','wb'))
#rf_model = pickle.load(open('model.pkl','rb'))

nn

In [238]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  300
hidden_nodes_layer2 = 128
hidden_nodes_layer3 = 48
hidden_nodes_layer4 = 24

In [239]:
nn_model = tf.keras.models.Sequential()

In [240]:
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, activation = "relu", input_dim = number_input_features))

In [241]:
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation = "relu"))

In [242]:
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation = "relu"))

In [243]:
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation = "relu"))

In [244]:
nn_model.add(tf.keras.layers.Dense(units=1, activation="linear"))

In [245]:
nn_model.summary()

Model: "sequential_22"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_62 (Dense)             (None, 300)               50400
_________________________________________________________________
dense_63 (Dense)             (None, 128)               38528
_________________________________________________________________
dense_64 (Dense)             (None, 48)                6192
_________________________________________________________________
dense_65 (Dense)             (None, 24)                1176
_________________________________________________________________
dense_66 (Dense)             (None, 1)                 25
=================================================================
Total params: 96,321
Trainable params: 96,321
Non-trainable params: 0
_________________________________________________________________

In [246]:
nn_model.compile(loss="mean_squared_error", optimizer="adam")
nn_model.fit(X_train, np.asarray(y_train), epochs=50)

Epoch 1/50
1668/1668 [==============================] - 4s 2ms/step - loss: 4761727270912.0000
Epoch 2/50
1668/1668 [==============================] - 4s 2ms/step - loss: 4372834287616.0000
Epoch 3/50
1668/1668 [==============================] - 4s 2ms/step - loss: 4306882265088.0000
Epoch 4/50
1668/1668 [==============================] - 4s 2ms/step - loss: 4258384576512.0000
Epoch 5/50
1668/1668 [==============================] - 4s 2ms/step - loss: 4214243983360.0000
Epoch 6/50
1668/1668 [==============================] - 4s 2ms/step - loss: 4178294603776.0000
Epoch 7/50
1668/1668 [==============================] - 4s 2ms/step - loss: 4145253711872.0000
Epoch 8/50
1668/1668 [==============================] - 4s 2ms/step - loss: 4119628349440.0000
Epoch 9/50
1668/1668 [==============================] - 4s 2ms/step - loss: 4098832728064.0000
Epoch 10/50
1668/1668 [==============================] - 4s 2ms/step - loss: 4077357891584.0000
Epoch 11/50
1668/1668 [==============================] - 4s 2ms/step - loss: 4060536111104.0000
Epoch 12/50
1668/1668 [==============================] - 4s 2ms/step - loss: 4043350999040.0000
Epoch 13/50
1668/1668 [==============================] - 4s 2ms/step - loss: 4026939211776.0000
Epoch 14/50
1668/1668 [==============================] - 4s 2ms/step - loss: 4015721283584.0000
Epoch 15/50
1668/1668 [==============================] - 4s 3ms/step - loss: 3995651014656.0000
Epoch 16/50
1668/1668 [==============================] - 4s 3ms/step - loss: 3983897526272.0000
Epoch 17/50
1668/1668 [==============================] - 4s 3ms/step - loss: 3967880790016.0000
Epoch 18/50
1668/1668 [==============================] - 4s 2ms/step - loss: 3958606135296.0000
Epoch 19/50
1668/1668 [==============================] - 4s 2ms/step - loss: 3945183576064.0000
Epoch 20/50
1668/1668 [==============================] - 4s 2ms/step - loss: 3931222310912.0000
Epoch 21/50
1668/1668 [==============================] - 4s 2ms/step - loss: 3917517422592.0000
Epoch 22/50
1668/1668 [==============================] - 4s 2ms/step - loss: 3908226777088.0000
Epoch 23/50
1668/1668 [==============================] - 4s 2ms/step - loss: 3895454859264.0000
Epoch 24/50
1668/1668 [==============================] - 4s 2ms/step - loss: 3879143473152.0000
Epoch 25/50
1668/1668 [==============================] - 4s 2ms/step - loss: 3867927642112.0000
Epoch 26/50
1668/1668 [==============================] - 4s 2ms/step - loss: 3853604618240.0000
Epoch 27/50
1668/1668 [==============================] - 4s 2ms/step - loss: 3843660709888.0000
Epoch 28/50
1668/1668 [==============================] - 4s 2ms/step - loss: 3830265151488.0000
Epoch 29/50
1668/1668 [==============================] - 4s 2ms/step - loss: 3819966300160.0000
Epoch 30/50
1668/1668 [==============================] - 4s 2ms/step - loss: 3808878395392.0000
Epoch 31/50
1668/1668 [==============================] - 4s 2ms/step - loss: 3799508582400.0000
Epoch 32/50
1668/1668 [==============================] - 4s 2ms/step - loss: 3791254454272.0000
Epoch 33/50
1668/1668 [==============================] - 4s 2ms/step - loss: 3781384470528.0000
Epoch 34/50
1668/1668 [==============================] - 4s 2ms/step - loss: 3774840569856.0000
Epoch 35/50
1668/1668 [==============================] - 4s 2ms/step - loss: 3766309093376.0000
Epoch 36/50
1668/1668 [==============================] - 4s 2ms/step - loss: 3759461105664.0000
Epoch 37/50
1668/1668 [==============================] - 4s 2ms/step - loss: 3751555891200.0000
Epoch 38/50
1668/1668 [==============================] - 4s 2ms/step - loss: 3740709945344.0000
Epoch 39/50
1668/1668 [==============================] - 4s 2ms/step - loss: 3727016591360.0000
Epoch 40/50
1668/1668 [==============================] - 4s 2ms/step - loss: 3726025424896.0000
Epoch 41/50
1668/1668 [==============================] - 4s 2ms/step - loss: 3710670864384.0000
Epoch 42/50
1668/1668 [==============================] - 4s 2ms/step - loss: 3696172990464.0000
Epoch 43/50
1668/1668 [==============================] - 4s 2ms/step - loss: 3683584573440.0000
Epoch 44/50
1668/1668 [==============================] - 4s 2ms/step - loss: 3662147223552.0000
Epoch 45/50
1668/1668 [==============================] - 4s 2ms/step - loss: 3636407566336.0000
Epoch 46/50
1668/1668 [==============================] - 4s 2ms/step - loss: 3609696141312.0000
Epoch 47/50
1668/1668 [==============================] - 4s 2ms/step - loss: 3576573984768.0000
Epoch 48/50
1668/1668 [==============================] - 4s 2ms/step - loss: 3548372533248.0000
Epoch 49/50
1668/1668 [==============================] - 4s 2ms/step - loss: 3513928122368.0000
Epoch 50/50
1668/1668 [==============================] - 4s 2ms/step - loss: 3467534401536.0000

In [247]:
y_train_pred = nn_model.predict(X_train)
y_test_pred = nn_model.predict(X_test)

In [248]:
r2_score(y_train, y_train_pred)

0.32421135947667745

In [249]:
r2_score(y_test, y_test_pred)

0.2946384223801013